[submodule "src/3rdparty/cutlass"]
	path = src/3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "src/3rdparty/ooverlap"]
	path = src/3rdparty/ooverlap
	url = https://github.com/ooverlap/ooverlap
	branch = raw
